[submodule "deps/xbyak"]
	path = deps/xbyak
	url = https://github.com/doyaGu/xbyak.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/doyaGu/imgui.git
