[submodule "deps/zip"]
	path = deps/zip
	url = https://github.com/kuba--/zip.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/utf8.h"]
	path = deps/utf8.h
	url = https://github.com/sheredom/utf8.h.git
[submodule "deps/oniguruma"]
	path = deps/oniguruma
	url = https://github.com/kkos/oniguruma
