# Configuration File for Mod: Ballance Mod Loader - 0.3.10

# GUI Settings
GUI {

	# The filename of TrueType font (the font filename should end with .ttf or .otf)
	S FontFilename unifont.otf

	# The size of font (pixel).
	F FontSize 32

	# The Unicode ranges of font glyph. To display Chinese characters correctly, this option should be set to Chinese or ChineseFull
	S FontRanges ChineseFull

	# Enable secondary font.
	B EnableSecondaryFont 0

	# The filename of secondary font (the font filename should end with .ttf or .otf)
	S SecondaryFontFilename unifont.otf

	# The size of secondary font (pixel).
	F SecondaryFontSize 32

	# The Unicode ranges of secondary font glyph. To display Chinese characters correctly, this option should be set to Chinese or ChineseFull
	S SecondaryFontRanges ChineseFull

	# Enable loading and saving ImGui settings.
	B EnableIniSettings 1

}

# HUD Settings
HUD {

	# Show BML Title at top
	B ShowTitle 1

	# Show FPS at top-left corner
	B ShowFPS 1

	# Show SR Timer above Time Score
	B ShowSRTimer 1

}

# Graphics Settings
Graphics {

	# Unlock Frame Rate Limitation
	B UnlockFrameRate 0

	# Set Frame Rate Limitation, this option will not work if frame rate is unlocked. Set to 0 will turn on VSync
	I SetMaxFrameRate 0

	# Improve widescreen resolutions support
	B WidescreenFix 0

}

# Tweak Settings
Tweak {

	# Enable alpha test for lantern material, this option can increase FPS
	B LanternAlphaTest 1

	# Game won't freeze when picking up life balls
	B FixLifeBallFreeze 1

	# Remove delay of spawn / respawn
	B Overclock 0

}

# Command Bar Settings
CommandBar {

	# Maximum visible time of each notification message, in seconds (default: 6)
	F MessageDuration 6

	# Tab width in columns for message wrapping (1..64, default: 4)
	I TabColumns 4

	# Line spacing between wrapped lines in messages (-1 to follow ImGui style).
	F LineSpacing -1

	# Alpha scale for message backgrounds (0..1, default: 0.80)
	F MessageBackgroundAlpha 0.8

	# Alpha scale for message window background (0..1, default: 1.0)
	F WindowBackgroundAlpha 1

	# Maximum text/background alpha in notifications (0..1, default: 1.0)
	F FadeMaxAlpha 1

}

# Custom Map Settings
CustomMap {

	# Level number to use for custom maps (affects level bonus and sky textures). Must be in the range of 1~13; 0 to randomly select one between 2 and 11
	I LevelNumber 0

	# Show custom map's full name in tooltip
	B ShowTooltip 0

	# The max depth of the nested subdirectories.
	I MaxDepth 8

}

